$black: #17111f;
$white: #eeeeee;
$magenta: #c452c1;
$yellow: yellow;
$cyan: cyan;
$green: #0F0;
$red: red;

:root{
  --main-font: monospace;
  --main-font-size: 12px;

  --border-radius: 5px;

  --background: #17111f;
  --black: #000;
  --app-background: var(--background);

  --selected: white;
  --exp-font-size: 50px;

  --symbol: #eeeeee;
  --text: silver;
  --number: yellow;
  --command: #c452c1;
  --t: cyan;
  --success: #0F0;
  --error: red;

  --button-color: rgba(0,0,0,0.5);
  --button-text: var(--text);
  --button-border-radius: var(--border-radius);
  --button-border-style: solid;
  --button-border-width: 6px;
  --button-font: var(--main-font);
  
  --inline-button-color: color-mix(in srgb, var(--background), transparent 20%);

  --link-color: var(--t);
  --option-color: var(--text);
  --option-background: var(--background);

  --modal-backdrop: color-mix(in srgb, var(--black), transparent 60%);
  --modal-background: var(--background);

}

:root[data-theme="tropical"] {

  --background: #023047ff;
  --button-color: #012232;
 
  --selected:  #8ecae6ff;
  --symbol: #b4d9d6;
  --text: #c9c3c3;
  --number: #ffb703ff;
  --command: #fb8500ff;
  --t: #219ebcff;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root[data-theme="monochrome-dark"] {
  --border-radius: 0px;
  filter: grayscale(1)
}
:root[data-theme="monochrome-light"] {
  --border-radius: 0px;
  filter: grayscale(1) invert(1);
}

:root[data-theme="lavander"] {
  --border-radius: 20px;
  --background: #ffe9f4;
  --button-color:  #f9f5f7;
  --selected: white;
  --symbol: #c0a9bd;
  --text: #a36b9c;
  --number: #64766a;
  --command: #2e97cc;
  --t: #b4398b;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root:not([data-theme="randomize"]){
  #randomizeBtn {
    display: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
  font-size: var(----main-font-size);
  background: var(--app-background);
  color: var(--text);
  overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

#main {
  position: absolute;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.timer {
  flex: 1;
  text-align: right;
  color: var(--number);
}

.byte-type,
.visualizer-type {
  display: none;
}

.sample-rate {
  text-align: right;
}
.status {
  color: var(--success);
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  max-width: 100%;
  text-align: right;
  pointer-events: none;
}

.number-mode {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
}

.status.error {
  color: var(--error);
}

#controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 5px;
}

button,
select,
.buttonstyle {
  padding: 8px 12px 8px 12px;
  white-space: pre;
  border: none;
  border-radius: var(--button-border-radius);
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--button-color);
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--main-font-size);
  height: 32px;
  font-weight: bold;
  cursor: pointer;
}

button,
select,
.buttonstyle,
button:hover,
select:hover,
.buttonstyle:select {
  opacity: 1;
}

textarea, select, input, button {
  outline: none;
}

option {
  color: var(--option-text);
  background-color: var(--option-background);

  &:checked {
    color: var(--number)
  }
}

.play,
.pause {
  width: 68px;
}

.play:before {
  content: "play ▶";
}

.pause:before {
  content: "pause ■";
  width: 70px;
}

.save:before {
  content: "save ↓";
}

.settings:before {
  content: "settings ⚙";
}

.modal-backdrop {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  backdrop-filter: blur(2px);
  transition: opacity 100ms;

  &.active{
    opacity: 1;
    pointer-events: auto;
  }
}

.dialog {
  background-color: var(--modal-background);
  border-radius: var(--border-radius);

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: .5em;

    button {
      margin: 0
    }
}

.dialog-body {
  padding: 1em 2em;
  border-top: solid 1px var(--button-color);
  
  label {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 10px;
    }

    button {
      margin: 0 0 0 5px;
    }

  }

  input {
    background: var(--button-color);
    color: var(--number);
    border: none;
    padding: 8px;
    border-radius: var(--border-radius);
  }

}


  #qrcode {
    width: 276px;
    height: 276px;
    background: var(--button-color);
    margin-bottom: .6em;

    img {
      border: solid 10px white;
    }
  }

  #receiver-id {
    box-sizing: border-box;
    padding: 5px;
    color: var(--number);
    width: 276px;
    height: 55px;
    text-align: center;
    font-size: 1.5em;
  }


  .title {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    
  }


}

.hide {
  display: none !important;
}

#startTouchbitContainer,
#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--background);

  &>* {
    color: $white;
    font-size: 20px;
    padding: 0.2em;
    border-radius: 0.2em;
  }

  button {
    padding: .5em;
    height: auto;
  }
}

@media screen and (max-width: 700px) {

  .play,
  .pause {
    width: 35px;
  }
  .play:before {
    content: "▶";
  }

  .pause:before {
    content: "■";
  }

  .save:before {
    content: "↓";
  }

  .settings:before {
    content: "⚙";
  }

  button:not(.timer),
  .buttonstyle {
    max-width: 6.7em;
  }

  .controls {
    select {
      max-width: 6.7em;
    }
  }

}

.stack-container {
  flex: 1;
  overflow-y: auto;
  font-size: var(--exp-font-size);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .debuggerContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    font-size: var(--main-font-size);
  
    #debugger {
      padding: .5em;
  
      &.error {
        color: var(--error);
      }
    }
  }
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
  }

  &::-webkit-scrollbar-track {
    background: #e1e1e12a;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #e1e1e12a;
  }

}

#stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 .5em;
  
}

.slot {
  position: relative;
  text-align: center;
  height: 1em;
  line-height: 1em;
  transition: all 200ms;
  font-weight: bold;
  
  cursor: pointer;

  &.number {
    color: var(--number);

    &.selected {
      border-top-color: rgba(128, 128, 128, .4);
    }
  }

  &.t {
    color: var(--t);
  }

  &.special {
    color: var(--command);
  }

  &.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: .4em;
    border-style: dashed;
    border-color: transparent;

    &.selected {
      border-bottom-color: color-mix(in srgb, var(--text), transparent 80%);
    }
  }

  .modifier {
    z-index: 9;
    position: absolute;
    width: 2em;
    display: block;
    font-size: .7em;
    color: var(--text);
    left: 50%;
    background: var(--inline-button-color);
    margin-left: -1em;
    padding: 0;
    height: 1.2em;

    &.plus-one {
      top: -1.3em;

      &:active {
        background: rgba($white, .2);
      }
      
    }

    &.minus-one {
      margin-top: 1px;

      &:active {
        background: rgba($white, .2);
      }
    }
  }
}

.number-mode-on .slot.number.selected {
  border-right: 1px solid transparent;
  /* Borde derecho inicial */
  animation: blinkNumberMode .5s infinite;
}

@keyframes blinkNumberMode {
  0% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al inicio */
  }

  50% {
    border-right: 1px solid var(--number);
    /* Borde derecho de color (ajusta según lo que desees) a la mitad de la animación */
  }

  100% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al final */
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: var(--command);
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-color);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: var(--border-radius);

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .2s;
      transition: .2s;
      border-radius: var(--border-radius);
    }
  }
}

