/* Matcha Theme */
[data-theme="matcha"] {
--background: 200 16% 18%;
--foreground: 129 16% 85%;
--muted: 202 16% 23%;
--muted-foreground: 129 10% 75%;
--popover: 200 16% 18%;
--popover-foreground: 129 16% 85%;
--card: 200 16% 20%;
--card-foreground: 129 16% 85%;
--border: 202 16% 26%;
--input: 202 16% 26%;
--primary: 194 24% 59%;
--primary-foreground: 131 53% 94%;
--secondary: 202 16% 23%;
--secondary-foreground: 129 16% 85%;
--time: 134 24% 59%;
--operator: 194 24% 59%;
--number: 34 44% 69%;
--action: 346 100% 75%;
--error: 0 67% 49%;
--accent: 202 16% 23%;
--accent-foreground: 129 16% 85%;
--destructive: 0 67% 49%;
--destructive-foreground: 129 16% 85%;
--ring: 202 16% 26%;
--success: 134 24% 59%;
}
