/* Solarized Light Theme */
[data-theme="solarized-light"] {
--background: 46 42% 88%;
--foreground: 196 13% 45%;
--muted: 46 30% 80%;
--muted-foreground: 195 11% 55%;
--popover: 46 42% 88%;
--popover-foreground: 196 13% 45%;
--card: 46 42% 90%;
--card-foreground: 196 13% 45%;
--border: 44 30% 85%;
--input: 44 30% 85%;
--primary: 205 69% 49%;
--primary-foreground: 44 87% 94%;
--secondary: 46 30% 80%;
--secondary-foreground: 195 11% 35%;
--time: 331 64% 52%;
--operator: 205 69% 49%;
--number: 45 100% 35%;
--action: 18 80% 44%;
--error: 1 71% 52%;
--accent: 44 87% 94%;
--accent-foreground: 195 11% 35%;
--destructive: 1 71% 52%;
--destructive-foreground: 44 87% 94%;
--ring: 44 30% 85%;
--success: 68 100% 30%;
}
