/* Tokyo Night Light Theme */
[data-theme="tokyo-night-light"] {
--background: 231 16% 92%;
--foreground: 228 26% 27%;
--muted: 32 12% 79%;
--muted-foreground: 228 15% 40%;
--popover: 231 16% 92%;
--popover-foreground: 228 26% 27%;
--card: 231 16% 94%;
--card-foreground: 228 26% 27%;
--border: 32 12% 79%;
--input: 32 12% 79%;
--primary: 192 100% 26%;
--primary-foreground: 231 16% 92%;
--secondary: 32 12% 79%;
--secondary-foreground: 228 26% 27%;
--time: 171 32% 29%;
--operator: 192 100% 26%;
--number: 36 74% 32%;
--action: 261 39% 40%;
--error: 348 35% 41%;
--accent: 32 12% 79%;
--accent-foreground: 228 29% 20%;
--destructive: 348 35% 41%;
--destructive-foreground: 231 16% 92%;
--ring: 32 12% 79%;
--success: 89 76% 21%;
}
