.milkdown {
    position: relative;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button,

    input {
        border: none;
        background: none;
        box-shadow: none;

        &:focus {
            outline: none;
        }
    }

    strong {
        color: hsl(var(--action));
    }

    :focus-visible {
        outline: none;
    }
    font-family: var(--crepe-font-default);
    color: var(--crepe-color-on-background);
    background: var(--crepe-color-background);

    .milkdown-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .ProseMirror-focused {
        outline: none;
    }

    .ProseMirror {
        padding: 0 80px;

        *::selection {
            background: var(--crepe-color-selected);
        }

        li.ProseMirror-selectednode {
            background: var(--crepe-color-selected);
            outline: none;

            ::selection {
                background: transparent;
            }

            &::selection {
                background: transparent;
            }
        }

        li.ProseMirror-selectednode:after {
            all: unset;
        }

        .ProseMirror-selectednode {
            background: var(--crepe-color-selected);
            outline: none;
            background: color-mix(
                in srgb,
                var(--crepe-color-selected),
                transparent 60%
            );

            ::selection {
                background: transparent;
            }

            &::selection {
                background: transparent;
            }
        }

        &[data-dragging='true'] {
            .ProseMirror-selectednode,
            &::selection,

            *::selection {
                background: transparent;
            }

            input::selection {
                background: var(--crepe-color-selected);
            }
        }

        img {
            vertical-align: bottom;
            max-width: 100%;

            &.ProseMirror-selectednode {
                background: none;
                outline: 2px solid var(--crepe-color-primary);
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,

        h6 {
            padding: 2px 0;
            font-family: var(--crepe-font-title);
            font-weight: 400;
        }

        h1 {
            margin-top: 32px;
            color: hsl(var(--time));
            font-size: 42px;
            line-height: 50px;
        }

        h2 {
            margin-top: 28px;
            color: hsl(var(--number));
            font-size: 36px;
            line-height: 44px;
        }

        h3 {
            margin-top: 24px;
            font-size: 32px;
            line-height: 40px;
        }

        h4 {
            margin-top: 20px;
            font-size: 28px;
            line-height: 36px;
        }

        h5 {
            margin-top: 16px;
            font-size: 24px;
            line-height: 32px;
        }

        h6 {
            margin-top: 16px;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
        }

        p {
            padding: 4px 0;
            color: var(--crepe-color-on-background) !important;
            font-size: 18px;
            line-height: 24px;
        }

        code {
            border-radius: 4px;
            display: inline-block;
            padding: 0 2px;
            color: var(--crepe-color-inline-code);
            font-family: var(--crepe-font-code);
            font-size: 87.5%;
            background: color-mix(
                in srgb,
                var(--crepe-color-inline-area),
                transparent 40%
            );
            line-height: 1.4286;
        }

        a {
            color: var(--crepe-color-primary);
            text-decoration: underline;
        }

        pre {
            border-radius: 4px;
            padding: 10px;
            background: color-mix(
                in srgb,
                var(--crepe-color-inline-area),
                transparent 40%
            );

            code {
                padding: 0;
                background: transparent;
            }
        }

        blockquote {
            position: relative;
            margin: 4px 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 40px;
            box-sizing: content-box;

            &::before {
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 0;
                border-radius: 100px;
                width: 4px;
                content: '';
                background: var(--crepe-color-selected);
            }

            hr {
                margin-bottom: 16px;
            }
        }

        hr {
            position: relative;
            border: none;
            height: 13px;
            background-color: var(--crepe-color-outline);

            &.ProseMirror-selectednode {
                background-color:  var(--crepe-color-outline);
                background-clip: content-box;

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: var(--crepe-color-outline);
                    pointer-events: none;
                }
            }
        }
        ul,

        ol {
            padding: 0;
        }
    }

    .milkdown-block-handle {
        .operation-item {
            &:hover {
                background: hsl(var(--card)) !important;
            }
        }
    }

    .milkdown-toolbar {
        border: solid 1px hsl(var(--border)) !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: hsl(var(--card)) !important;

        .toolbar-item {
            &:hover {
                border-radius: 0 !important;
                background: hsl(var(--background)) !important;
            }
        }
    }

    .milkdown-slash-menu {
        border: solid 1px hsl(var(--border));
        border-radius: 0 !important;
        background-color: var(--crepe-color-background) !important;
        color: hsl(var(--foreground)) !important;
        box-shadow: none !important;

        .tab-group {
            ul {
                li {
                    border-radius : 0 !important;
                    &.selected,

                    &:hover {
                        background-color: hsl(var(--card)) !important;
                        color: hsl(var(--action));
                    }
                }
            }
        }

        .menu-groups {
            .menu-group {
                h6 {
                    color: hsl(var(--time)) !important;
                }
            }

            ul {
                li {
                    border-radius: 0 !important;

                    &.hover {
                        background-color: hsl(var(--card)) !important;
                        color: hsl(var(--number));
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: hsl(var(--time));
            }
        }
    }
}

.milkdown {
    --crepe-color-background: hsl(var(--background));
    --crepe-color-on-background: hsl(var(--foreground));
    --crepe-color-surface: #121212;
    --crepe-color-surface-low: #1c1c1c;
    --crepe-color-on-surface: #d1d1d1;
    --crepe-color-on-surface-variant: #a9a9a9;
    --crepe-color-outline: #757575;
    --crepe-color-primary: #b5b5b5;
    --crepe-color-secondary: #4d4d4d;
    --crepe-color-on-secondary: #d6d6d6;
    --crepe-color-inverse: #e5e5e5;
    --crepe-color-on-inverse: #2a2a2a;
    --crepe-color-inline-code: #ff6666;
    --crepe-color-error: #ff6666;
    --crepe-color-hover: #232323;
    --crepe-color-selected: #2f2f2f;
    --crepe-color-inline-area: #2b2b2b;
    --crepe-shadow-1:
0px 1px 2px 0px rgba(255, 255, 255, 0.3),
0px 1px 3px 1px rgba(255, 255, 255, 0.15);
--crepe-shadow-2:
0px 1px 2px 0px rgba(255, 255, 255, 0.3),
0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}
