@use './_milkdown.scss';
@use './_themes.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply bg-background text-foreground;
    }

    body {
        height: 100%;
        font-family: 'Courier New', Courier, monospace;
        @apply bg-background text-foreground;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    select option {
        @apply bg-background text-foreground;
    }
}

.overflow-y-scroll {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: hsl(var(--time));
    }
}
