@charset "UTF-8";
:root {
  --main-font: monospace;
  --main-font-size: 12px;
  --border-radius: 5px;
  --background: #17111f;
  --black: #000;
  --app-background: var(--background);
  --selected: white;
  --exp-font-size: 22px;
  --symbol: #eeeeee;
  --text: silver;
  --number: yellow;
  --command: #c452c1;
  --t: cyan;
  --success: #0F0;
  --error: red;
  --button-color: rgba(0,0,0,0.5);
  --button-text: var(--text);
  --button-border-radius: var(--border-radius);
  --button-border-style: solid;
  --button-border-width: 6px;
  --button-font: var(--main-font);
  --inline-button-color: color-mix(in srgb, var(--background), transparent 20%);
  --keyboard-background: transparent;
  --key-gap: 5px;
  --key-height: 40px;
  --key-background: var(--button-color);
  --key-border-radius: var(--button-border-radius);
  --key-border-style: var(--button-border-style);
  --key-border-width: 1px 1px 3px;
  --key-active-height: calc(var(--key-height) - 2px);
  --key-active-border-width: 1px 1px 1px !important;
  --key-active-margin: 2px 0 0;
  --key-active-background: var(--button-color);
  --key-symbol: var(--symbol);
  --key-t: var(--t);
  --key-number: var(--number);
  --key-command: var(--command);
  --key-symbol-bg-active: color-mix(in srgb, var(--symbol), transparent 50%);
  --key-t-bg-active: color-mix(in srgb, var(--t), transparent 50%);
  --key-number-bg-active: color-mix(in srgb, var(--number), transparent 50%);
  --key-command-bg-active: color-mix(in srgb, var(--command), transparent 50%);
  --key-font: var(--button-font);
  --key-font-size: 17px;
  --link-color: var(--t);
  --option-color: var(--text);
  --option-background: var(--background);
  --modal-backdrop: color-mix(in srgb, var(--black), transparent 60%);
  --modal-background: var(--background);
}

:root[data-theme=tropical] {
  --background: #023047ff;
  --button-color: #012232;
  --key-symbol-bg-active: var(--button-color);
  --key-t-bg-active: var(--button-color);
  --key-number-bg-active: var(--button-color);
  --key-command-bg-active: var(--button-color);
  --key-border-radius: 20px;
  --key-border-width: 1px 1px 10px;
  --selected: #8ecae6ff;
  --symbol: #b4d9d6;
  --text: #c9c3c3;
  --number: #ffb703ff;
  --command: #fb8500ff;
  --t: #219ebcff;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root[data-theme=monochrome-dark] {
  --border-radius: 0px;
  filter: grayscale(1);
}

:root[data-theme=monochrome-light] {
  --border-radius: 0px;
  filter: grayscale(1) invert(1);
}

:root[data-theme=lavander] {
  --border-radius: 20px;
  --background: #ffe9f4;
  --button-color: #f9f5f7;
  --selected: white;
  --symbol: #c0a9bd;
  --text: #a36b9c;
  --number: #64766a;
  --command: #2e97cc;
  --t: #b4398b;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root:not([data-theme=randomize]) #randomizeBtn {
  display: none;
}

* {
  -webkit-user-select: none;
  /* Safari */
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
  font-size: var(----main-font-size);
  background: var(--app-background);
  color: var(--text);
  overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

#main {
  position: absolute;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.timer {
  flex: 1;
  text-align: right;
  color: var(--number);
}

.byte-type,
.visualizer-type {
  display: none;
}

.sample-rate {
  text-align: right;
}

.status {
  color: var(--success);
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  max-width: 100%;
  text-align: right;
  pointer-events: none;
}

.number-mode {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
}

.status.error {
  color: var(--error);
}

#controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 5px;
}

button,
select,
.buttonstyle {
  padding: 8px 12px 8px 12px;
  white-space: pre;
  border: none;
  border-radius: var(--button-border-radius);
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--button-color);
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--main-font-size);
  height: 32px;
  font-weight: bold;
  cursor: pointer;
}

button,
select,
.buttonstyle,
button:hover,
select:hover,
.buttonstyle:select {
  opacity: 1;
}

textarea, select, input, button {
  outline: none;
}

option {
  color: var(--option-text);
  background-color: var(--option-background);
}
option:checked {
  color: var(--number);
}

.play,
.pause {
  width: 68px;
}

.play:before {
  content: "play ▶";
}

.pause:before {
  content: "pause ■";
  width: 70px;
}

.save:before {
  content: "save ↓";
}

.settings:before {
  content: "settings ⚙";
}

.modal-backdrop {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: opacity 100ms;
}
.modal-backdrop.active {
  opacity: 1;
  pointer-events: auto;
}

.dialog {
  width: 400px;
  max-width: calc(100svw - 40px);
  max-height: calc(100svh - 40px);
  background-color: var(--modal-background);
  border-radius: var(--border-radius);
}
.dialog .dialog-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.5em;
}
.dialog .dialog-header button {
  margin: 0;
}
.dialog .dialog-body {
  padding: 1em;
  border-top: solid 1px var(--button-color);
}
.dialog .dialog-body > div {
  margin-bottom: 0.6em;
}
.dialog .dialog-body #reset {
  width: -moz-min-content;
  width: min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}
.dialog .dialog-body label {
  display: flex;
  align-items: center;
}
.dialog .dialog-body label > :first-child {
  margin-right: 10px;
}
.dialog .row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.dialog input {
  background: var(--button-color);
  color: var(--number);
  border: none;
  padding: 8px;
  border-radius: var(--border-radius);
}
.dialog input[type=number] {
  text-align: right;
}
.dialog select {
  width: -moz-min-content;
  width: min-content;
}
.dialog .title {
  font-size: 17px;
  line-height: 32px;
  margin-left: 0.5em;
}
.dialog .dialog-footer {
  border-top: solid 1px var(--button-color);
  text-align: right;
  padding: 0.5em;
}
.dialog .dialog-footer button {
  margin: 0;
  width: 6.7em;
}

.hide {
  display: none !important;
}

#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--background);
}
#loadingContainer > * {
  color: #eeeeee;
  font-size: 20px;
  padding: 0.2em;
  border-radius: 0.2em;
}

@media screen and (max-width: 700px) {
  .play,
  .pause {
    width: 35px;
  }
  .play:before {
    content: "▶";
  }
  .pause:before {
    content: "■";
  }
  .save:before {
    content: "↓";
  }
  .settings:before {
    content: "⚙";
  }
  button:not(.timer),
  .buttonstyle {
    max-width: 6.7em;
  }
  .controls select {
    max-width: 6.7em;
  }
}
@media screen and (max-height: 350px) {
  #keyboard button {
    height: 35px !important;
  }
  #keyboard button:active {
    height: 33px !important;
  }
}
.stack-container {
  flex: 1;
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  overflow-y: auto;
  font-size: var(--exp-font-size);
  padding-top: 1em;
  position: relative;
}
.stack-container .debuggerContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
  font-size: var(--main-font-size);
}
.stack-container .debuggerContainer #debugger {
  padding: 0.5em;
}
.stack-container .debuggerContainer #debugger.error {
  color: var(--error);
}
.stack-container::-webkit-scrollbar {
  width: 8px;
}
.stack-container::-webkit-scrollbar-thumb {
  background: #ccc;
}
.stack-container::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.stack-container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
}
.stack-container::-webkit-scrollbar-track {
  background: rgba(225, 225, 225, 0.1647058824);
}
.stack-container::-webkit-scrollbar-track:hover, .stack-container::-webkit-scrollbar-track:active {
  background: rgba(225, 225, 225, 0.1647058824);
}

#stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2px;
  padding: 5px 10px;
}

.slot {
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-bottom-color: color-mix(in srgb, var(--text), transparent 80%);
  height: 1.3em;
  min-width: 0.8em;
  line-height: 1.3em;
  margin-bottom: 0.4em;
  transition: all 200ms;
  font-weight: bold;
  cursor: pointer;
}
.slot.number {
  color: var(--number);
}
.slot.number.selected {
  border-top-color: rgba(128, 128, 128, 0.4);
}
.slot.t {
  color: var(--t);
}
.slot.special {
  color: var(--command);
}
.slot.selected {
  border-color: var(--selected);
  border-inline: solid 1px;
}
.slot.break {
  flex-basis: 100%;
  height: 0;
  margin-bottom: 0.4em;
  border-style: dashed;
  border-color: transparent;
}
.slot.break.selected {
  border-bottom-color: color-mix(in srgb, var(--text), transparent 80%);
}
.slot .modifier {
  z-index: 9;
  position: absolute;
  width: 2em;
  display: block;
  font-size: 0.7em;
  color: var(--text);
  left: 50%;
  background: var(--inline-button-color);
  margin-left: -1em;
  padding: 0;
  height: 1.2em;
}
.slot .modifier.plus-one {
  top: -1.3em;
}
.slot .modifier.plus-one:active {
  background: rgba(238, 238, 238, 0.2);
}
.slot .modifier.minus-one {
  margin-top: 1px;
}
.slot .modifier.minus-one:active {
  background: rgba(238, 238, 238, 0.2);
}

.number-mode-on .slot.number.selected {
  border-right: 1px solid transparent;
  /* Borde derecho inicial */
  animation: blinkNumberMode 0.5s infinite;
}

@keyframes blinkNumberMode {
  0% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al inicio */
  }
  50% {
    border-right: 1px solid var(--number);
    /* Borde derecho de color (ajusta según lo que desees) a la mitad de la animación */
  }
  100% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al final */
  }
}
#keyboard {
  display: flex;
  flex-direction: column;
  padding: var(--key-gap);
  max-width: 550px;
  position: relative;
  left: 50%;
  background: var(--keyboard-background);
  transform: translateX(-50%);
}
#keyboard .column {
  flex: 1;
}
#keyboard .row {
  display: flex;
  justify-content: center;
  gap: var(--key-gap);
  width: 100%;
}
#keyboard .row > * {
  flex: 1;
}
#keyboard .row .double-button {
  flex: 2;
  flex-basis: calc(var(--key-gap) * 2);
  display: flex;
}
#keyboard .row .double-button :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#keyboard .row .double-button :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#keyboard .row:not(:last-child) {
  margin-bottom: var(--key-gap);
}
#keyboard button {
  color: var(--button-color);
  width: -webkit-fill-available;
  margin: 0;
  height: var(--key-height);
  font-size: var(--key-font-size);
  border-style: var(--key-border-style);
  border-width: var(--key-border-width);
  border-radius: var(--key-border-radius);
  background: var(--key-background);
  padding: 0;
  transition: all 50ms;
}
#keyboard button:active {
  border-width: var(--key-active-border-width);
  margin: var(--key-active-margin);
  height: var(--key-active-height);
  background: var(--key-active-background);
}
#keyboard button.number {
  --button-color: var(--key-number);
}
#keyboard button.number:active {
  background: var(--key-number-bg-active);
}
#keyboard button.command {
  --button-color: var(--key-command);
}
#keyboard button.command:active {
  background: var(--key-command-bg-active);
}
#keyboard button.symbol {
  --button-color: var(--key-symbol);
}
#keyboard button.symbol:active {
  background: var(--key-symbol-bg-active);
}
#keyboard button.t {
  --button-color: var(--t);
}
#keyboard button.t:active {
  background: var(--key-t-bg-active);
}
#keyboard button.small {
  font-size: 13px !important;
}
#keyboard button.modifier {
  --button-color: var(--number);
  font-variant: all-petite-caps;
}
#keyboard:not(.fn-mode) .layer-2 {
  display: none;
}
#keyboard.fn-mode .layer-1 {
  display: none;
}
#keyboard.fn-mode #fnMode {
  color: var(--selected);
  background: var(--key-command-bg-active);
}
#keyboard #holdMode.active {
  color: var(--selected);
  background: var(--key-command-bg-active);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: var(--command);
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-color);
  transition: 0.2s;
  border-radius: var(--border-radius);
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
  border-radius: var(--border-radius);
}/*# sourceMappingURL=main.css.map */