$black: #17111f;
$white: #eeeeee;
$magenta: #c452c1;
$yellow: yellow;
$cyan: cyan;
$green: #0F0;
$red: red;

:root {
  --main-font: monospace;
  --main-font-size: 12px;

  --border-radius: 5px;

  --background: #17111f;
  --black: #000;
  --app-background: var(--background);

  --selected: white;
  --exp-font-size: 22px;

  --symbol: #eeeeee;
  --text: silver;
  --number: yellow;
  --command: #c452c1;
  --t: cyan;
  --success: #0F0;
  --error: red;

  --button-color: rgba(0, 0, 0, 0.5);
  --button-text: var(--text);
  --button-border-radius: var(--border-radius);
  --button-border-style: solid;
  --button-border-width: 6px;
  --button-font: var(--main-font);

  --inline-button-color: color-mix(in srgb, var(--background), transparent 20%);

  --keyboard-background: transparent;
  --key-gap: 5px;
  --key-height: 40px;
  --key-background: var(--button-color);
  --key-border-radius: var(--button-border-radius);
  --key-border-style: var(--button-border-style);
  --key-border-width: 1px 1px 3px;

  --key-active-height: calc(var(--key-height) - 2px);
  --key-active-border-width: 1px 1px 1px !important;
  --key-active-margin: 2px 0 0;
  --key-active-background: var(--button-color);

  --key-symbol: var(--symbol);
  --key-t: var(--t);
  --key-number: var(--number);
  --key-command: var(--command);

  --key-symbol-bg-active: color-mix(in srgb, var(--symbol), transparent 50%);
  --key-t-bg-active: color-mix(in srgb, var(--t), transparent 50%);
  --key-number-bg-active: color-mix(in srgb, var(--number), transparent 50%);
  --key-command-bg-active: color-mix(in srgb, var(--command), transparent 50%);

  --key-font: var(--button-font);
  --key-font-size: 17px;

  --link-color: var(--t);
  --option-color: var(--text);
  --option-background: var(--background);

  --modal-backdrop: color-mix(in srgb, var(--black), transparent 60%);
  --modal-background: var(--background);

}

:root[data-theme="tropical"] {

  --background: #023047ff;
  --button-color: #012232;
  --key-symbol-bg-active: var(--button-color);
  --key-t-bg-active: var(--button-color);
  --key-number-bg-active: var(--button-color);
  --key-command-bg-active: var(--button-color);


  --key-border-radius: 20px;
  --key-border-width: 1px 1px 10px;
  --selected: #8ecae6ff;
  --symbol: #b4d9d6;
  --text: #c9c3c3;
  --number: #ffb703ff;
  --command: #fb8500ff;
  --t: #219ebcff;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root[data-theme="monochrome-dark"] {
  --border-radius: 0px;
  filter: grayscale(1)
}

:root[data-theme="monochrome-light"] {
  --border-radius: 0px;
  filter: grayscale(1) invert(1);
}

:root[data-theme="lavander"] {
  --border-radius: 20px;
  --background: #ffe9f4;
  --button-color: #f9f5f7;
  --selected: white;
  --symbol: #c0a9bd;
  --text: #a36b9c;
  --number: #64766a;
  --command: #2e97cc;
  --t: #b4398b;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root:not([data-theme="randomize"]) {
  #randomizeBtn {
    display: none;
  }
}

:root:not([data-edition-mode="insert"]) {
  .slot {
    border-bottom-color: color-mix(in srgb, var(--text), transparent 80%);
  }

}


:root[data-edition-mode="insert"] {
  .number-mode-on .slot.number.caret {

    animation: blinkyNumberMode .6s infinite;

    @keyframes blinkyNumberMode {
      0% {
        border: 1px solid transparent;
        /* Borde transparente al inicio */
      }

      50% {
        border: 1px solid var(--number);
        /* Borde de color (ajusta según lo que desees) a la mitad de la animación */
      }

      100% {
        border: 1px solid transparent;
        /* Borde transparente al final */
      }
    }
  }

}

* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
  font-size: var(----main-font-size);
  background: var(--app-background);
  color: var(--text);
  overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

#main {
  position: absolute;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.timer {
  flex: 1;
  text-align: right;
  color: var(--number);
}

.byte-type,
.visualizer-type {
  display: none;
}

.sample-rate {
  text-align: right;
}

.status {
  color: var(--success);
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  max-width: 100%;
  text-align: right;
  pointer-events: none;
}

.number-mode {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
}

.status.error {
  color: var(--error);
}

#controls {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  gap: 5px;
}

button,
select,
.buttonstyle {
  padding: 8px 12px 8px 12px;
  white-space: pre;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--button-color);
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--main-font-size);
  height: 32px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: .5;
}

button,
select,
.buttonstyle,
button:hover,
select:hover,
.buttonstyle:select {
  opacity: 1;
}

textarea,
select,
input,
button {
  outline: none;
}

option {
  color: var(--option-text);
  background-color: var(--option-background);

  &:checked {
    color: var(--number)
  }
}

.play,
.pause {
  width: 68px;
}

.play:before {
  content: "play ▶";
}

.pause:before {
  content: "pause ■";
  width: 70px;
}

.save:before {
  content: "save ↓";
}

.settings:before {
  content: "☰";
}

.modal-backdrop {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  backdrop-filter: blur(2px);
  transition: opacity 100ms;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.dialog {
  width: 400px;
  max-width: calc(100svw - 40px);
  max-height: calc(100svh - 40px);
  background-color: var(--modal-background);
  border-radius: var(--border-radius);

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: .5em;

    button {
      margin: 0
    }
  }

  .dialog-body {

    padding: 0 1em;
    min-height: 205px;

    .tab-wrap {
      -webkit-transition: 0.3s box-shadow ease;
      transition: 0.3s box-shadow ease;
      border-radius: 6px;
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      list-style: none;

    }

    .tab:checked:nth-of-type(1)~.tab__content:nth-of-type(1),
    .tab:checked:nth-of-type(2)~.tab__content:nth-of-type(2),
    .tab:checked:nth-of-type(3)~.tab__content:nth-of-type(3),
    .tab:checked:nth-of-type(4)~.tab__content:nth-of-type(4) {
      opacity: 1;

      position: relative;
      top: 0;
      z-index: 100;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      text-shadow: 0 0 0;

    }

    input.tab {
      display: none;
    }

    #receiver-id {
      width: -webkit-fill-available;
    }

    .help-text {
      font-size: 0.85em;
      font-style: italic;
      color: color-mix(in srgb, var(--text), transparent 60%);
    }

    .tab+label {

      cursor: pointer;
      display: block;
      text-decoration: none;
      color: var(--text);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: border-box;
      padding: .6em;

    }

    .tab:checked+label {
      color: var(--number);
      border: solid 1px;
      margin-bottom: -1px;
      z-index: 999;
      border-color: var(--button-color) var(--button-color) var(--app-background)
    }

    .tab__content {
      padding: .6em;
      background-color: transparent;
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      left: 0;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      border-top: solid 1px var(--button-color);

      &>div {
        margin-bottom: .6em;

        &>label {
          display: flex;
          align-items: center;
          gap: 5px;

          button {
            font-size: 0.85em;
            height: 24px;
            padding: 0em 0.6em;

            &:disabled {
              display: none;
            }
          }
        }
      }

    }

    #reset {
      width: min-content;
      max-width: min-content;
    }

    textarea#logs {
      width: -webkit-fill-available;
      height: 70vh;
      margin-bottom: .5em;
      white-space: pre;
      font-family: monospace;
    }


  }

  input {
    background: var(--button-color);
    color: var(--number);
    border: none;
    padding: 8px;
    border-radius: var(--border-radius);

    &[type="number"] {
      text-align: right;
    }

  }

  select {
    width: min-content;
  }

  .title {
    font-size: 17px;
    line-height: 32px;
    margin-left: .5em;
  }

  .dialog-footer {
    border-top: solid 1px var(--button-color);
    text-align: right;
    padding: .5em;

    button {
      margin: 0;
      width: 6.7em;
    }
  }
}

.hide {
  display: none !important;
}

#startTouchbitContainer,
#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--background);

  &>* {
    color: $white;
    font-size: 20px;
    padding: 0.2em;
    border-radius: 0.2em;
  }

  button {
    padding: .5em;
    height: auto;
  }
}

@media screen and (max-width: 700px) {

  .play,
  .pause {
    width: 35px;
  }

  .play:before {
    content: "▶";
  }

  .pause:before {
    content: "■";
  }

  .save:before {
    content: "↓";
  }

  .settings:before {
    content: "☰";
  }

  button:not(.timer),
  .buttonstyle {
    max-width: 6.7em;
  }

  .controls {
    select {
      max-width: 6.7em;
    }
  }

}

@media screen and (max-height: 350px) {

  #keyboard {
    button {
      height: 35px !important;

      &:active {
        height: 33px !important;
      }
    }
  }

}

.stack-container {
  flex: 1;
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  overflow-y: auto;
  font-size: var(--exp-font-size);
  padding-top: 1em;
  position: relative;

  .debuggerContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
    font-size: var(--main-font-size);

    #debugger {
      padding: .5em;

      &.error {
        color: var(--error);
      }
    }
  }

#number-editor {
  pointer-events: none;
  opacity: 0;
  background-color: transparent !important;
  backdrop-filter: blur(1px);

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    --font-size: 2.5em;
    position: absolute;
    display: flex;
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    width: calc(100vw - 20px);
    max-width: 530px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 2;
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    font-size: var(--font-size);
    height: 10rem;
    border: solid 1px var(--number);

    .sign {
      color: var(--number);
    }
    
    .digit {
      position: relative;
      color: var(--number);
      width: 0.7em;
      text-align: center;

      &.negative:before {
        content: '-';
        position: absolute;
        font-size: .5em;
        right: 1.5em;
        top: 0.5em;
      }
      
      &.dot:after {
        content: ".";
        display: block;
        position: absolute;
        font-size: .5em;
        left: -0.35em;
        bottom: 0em;
      }

      &.finaldot:after {
        content: ".";
        display: block;
        position: absolute;
        font-size: .5em;
        right: -0.25em;
        bottom: 0em;
      }

      .modifier {
        z-index: 9;
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        display: block;
        font-size: .4em;
        color: var(--number);
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        transform-origin: left;
        background: transparent;
        opacity: .7;

        &.plus {
          top: -1.4em;
    
          &:active {
            background: rgba($white, .2);
          }
    
        }
    
        &.minus {
          margin-top: 2px;
          scale: -1;
    
          &:active {
            background: rgba($white, .2);
          }
        }
      }

    }
  }

}
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
  }

  &::-webkit-scrollbar-track {
    background: #e1e1e12a;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #e1e1e12a;
  }

}

#stack {
  display: flex;
  flex-wrap: wrap;
  gap: .1em;
  padding: 5px 10px;
}

.slot {
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  height: 1.3em;
  min-width: .5em;
  line-height: 1.3em;
  margin-bottom: .4em;
  transition: all 200ms;
  font-weight: bold;

  cursor: pointer;

  &.number {
    color: var(--number);

    &.selected {
      border-top-color: rgba(128, 128, 128, .4);
    }
  }

  &.t {
    color: var(--t);
  }

  &.special {
    color: var(--command);
  }

  &.selected {
    border-color: var(--selected);
    border-inline: solid 1px;
  }

  &.caret {
    animation: blink .6s infinite;

    @keyframes blink {
      0% {
        border-left-color: var(--selected);
      }

      50% {
        border-left-color: transparent;
      }

      100% {
        border-left-color: var(--selected);
      }
    }

  }

  &.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: .4em;
    border-style: dashed;
    border-color: transparent;

    &.selected {
      border-bottom-color: color-mix(in srgb, var(--text), transparent 80%);
    }
  }

  .modifier {
    z-index: 9;
    position: absolute;
    width: 2em;
    display: block;
    font-size: .7em;
    color: var(--background);
    left: 50%;
    background: transparent;
    margin-left: -1em;
    padding: 0;
    height: 1.2em;

    &:after {
      content: '';
      width: 1.2em;
      height: 1.2em;
      background: var(--number);
      display: block;
      border-radius: var(--border-radius);
      position: absolute;
      top: 1px;
      left: 50%;
      z-index: -1;
      margin-left: -0.6em;
      z-index: -1;
    }

    &.plus-one {
      top: -1.5em;

      &:active {
        background: rgba($white, .2);
      }

    }

    &.minus-one {
      margin-top: .3em;

      &:active {
        background: rgba($white, .2);
      }
    }
  }
}

.number-mode-on .slot.number.selected {
  animation: blinkNumberMode .6s infinite;

  @keyframes blinkNumberMode {
    0% {
      border-right: 1px solid transparent;
      /* Borde derecho transparente al inicio */
    }

    50% {
      border-right: 1px solid var(--number);
      /* Borde derecho de color (ajusta según lo que desees) a la mitad de la animación */
    }

    100% {
      border-right: 1px solid transparent;
      /* Borde derecho transparente al final */
    }
  }
}

.number-mode-on .slot.number.caret {
  animation: blinkCaretNumberMode .6s infinite !important;
  border-left: dashed 0.5px;
  border-top: dashed 0.5px;
  border-bottom: dashed 0.5px;

  @keyframes blinkCaretNumberMode {
    0% {
      border-right: 1px solid transparent;
      /* Borde derecho transparente al inicio */
    }

    50% {
      border-right: 1px solid var(--number);
      /* Borde derecho de color (ajusta según lo que desees) a la mitad de la animación */
    }

    100% {
      border-right: 1px solid transparent;
      /* Borde derecho transparente al final */
    }
  }
}

#keyboard {
  display: flex;
  flex-direction: column;
  padding: var(--key-gap);
  max-width: 550px;
  position: relative;
  left: 50%;
  background: var(--keyboard-background);
  transform: translateX(-50%);

  .column {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: var(--key-gap);
    width: 100%;

    &>* {
      flex: 1;
    }

    .double-button {
      flex: 2;
      flex-basis: calc(var(--key-gap) * 2);
      display: flex;
      justify-content: center;
      align-items: center;

      :first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

    }

    &:not(:last-child) {
      margin-bottom: var(--key-gap);
    }
  }

  button {

    color: var(--button-color);
    width: -webkit-fill-available;
    margin: 0;
    height: var(--key-height);
    font-size: var(--key-font-size);
    border-style: var(--key-border-style);
    border-width: var(--key-border-width);
    border-radius: var(--key-border-radius);
    background: var(--key-background);
    padding: 0;
    transition: all 50ms;

    &:active,
    &.pressed {
      border-width: var(--key-active-border-width);
      margin: var(--key-active-margin);
      height: var(--key-active-height);
      background: var(--key-active-background);
    }

    &.number {
      --button-color: var(--key-number);

      &:active,
      &.pressed {
        background: var(--key-number-bg-active);
      }
    }

    &.command {
      --button-color: var(--key-command);

      &:active,
      &.pressed {
        background: var(--key-command-bg-active);
      }
    }

    &.symbol {
      --button-color: var(--key-symbol);

      &:active,
      &.pressed {
        background: var(--key-symbol-bg-active);
      }
    }

    &.t {
      --button-color: var(--t);

      &:active,
      &.pressed {
        background: var(--key-t-bg-active);
      }
    }

    &.small {
      font-size: 13px !important;
    }

    &.modifier {
      --button-color: var(--number);
      font-variant: all-petite-caps;
    }

  }

  #signalBtn {
    position: absolute;
    right: var(--key-gap);
    transform: translateY(-100%);
    margin-top: -12px;
    width: 5em;
    height: 5em;
  }

  &:not(.fn-mode) .layer-2 {
    display: none;
  }

  &.fn-mode {

    .layer-1 {
      display: none;
    }

    #fnMode {
      color: var(--selected);
      background: var(--key-command-bg-active);
    }

  }

  #holdMode,
  #insertSlot {
    &.active {
      color: var(--selected);
      background: var(--key-command-bg-active);

    }
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      background-color: var(--command);
    }

    &:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-color);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: var(--border-radius);

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .2s;
      transition: .2s;
      border-radius: var(--border-radius);
    }
  }
}