$black: #17111f;
$white: #eeeeee;
$magenta: #c452c1;
$yellow: yellow;
$cyan: cyan;
$green: #0F0;
$red: red;

:root{
  --main-font: monospace;

  --border-radius: 5px;

  --background: #17111f;
  --black: #000;
  --app-background: var(--background);

  --selected: white;

  --symbol: #eeeeee;
  --text: silver;
  --number: yellow;
  --command: #c452c1;
  --t: cyan;
  --success: #0F0;
  --error: red;

  --button-color: rgba(0,0,0,0.5);
  --button-text: var(--text);
  --button-border-radius: var(--border-radius);
  --button-border-style: solid;
  --button-border-width: 6px;
  --button-font: var(--main-font);
  --button-font-size: 12px;

  --inline-button-color: color-mix(in srgb, var(--background), transparent 20%);

  --keyboard-background: transparent;
  --key-gap: 5px;
  --key-height: 40px;
  --key-background: var(--button-color);
  --key-border-radius: var(--button-border-radius);
  --key-border-style: var(--button-border-style);
  --key-border-width: 1px 1px 3px;

  --key-active-height: 38px;
  --key-active-border-width: 1px 1px 1px !important;
  --key-active-margin: 2px 0 0;
  --key-active-background: var(--button-color);

  --key-symbol: var(--symbol);
  --key-t: var(--t);
  --key-number: var(--number);
  --key-command: var(--command);
  
  --key-symbol-bg-active: color-mix(in srgb, var(--symbol), transparent 50%);
  --key-t-bg-active: color-mix(in srgb, var(--t), transparent 50%);
  --key-number-bg-active: color-mix(in srgb, var(--number), transparent 50%);
  --key-command-bg-active: color-mix(in srgb, var(--command), transparent 50%);

  --key-font: var(--button-font);
  --key-font-size: 17px;

  --link-color: var(--t);
  --option-color: var(--text);
  --option-background: var(--background);

  --modal-backdrop: color-mix(in srgb, var(--black), transparent 60%);
  --modal-background: var(--background);

}

:root[data-theme="tropical"] {

  --background: #023047ff;
  --button-color: #012232;
  --key-symbol-bg-active: var(--button-color);
  --key-t-bg-active: var(--button-color);
  --key-number-bg-active: var(--button-color);
  --key-command-bg-active: var(--button-color);


  --key-border-radius: 20px;
  --key-border-width: 1px 1px 10px;
  --selected:  #8ecae6ff;
  --symbol: #b4d9d6;
  --text: #c9c3c3;
  --number: #ffb703ff;
  --command: #fb8500ff;
  --t: #219ebcff;
  --success: #2ecc71;
  --error: #e74c3c;
}

:root[data-theme="monochrome-dark"] {
  --border-radius: 0px;
  filter: grayscale(1)
}
:root[data-theme="monochrome-light"] {
  --border-radius: 0px;
  filter: grayscale(1) invert(1);
}

:root[data-theme="lavander"] {
  --border-radius: 20px;
  --background: #ffe9f4;
  --button-color:  #f9f5f7;
  --selected: white;
  --symbol: #c0a9bd;
  --text: #a36b9c;
  --number: #64766a;
  --command: #2e97cc;
  --t: #b4398b;
  --success: #2ecc71;
  --error: #e74c3c;
}

* {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--main-font);
  background: var(--app-background);
  color: var(--text);
  overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

#main {
  position: absolute;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.timer {
  flex: 1;
  text-align: right;
  color: var(--number);
}

.byte-type,
.visualizer-type {
  display: none;
}

.sample-rate {
  text-align: right;
}
.status {
  color: var(--success);
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  max-width: 100%;
  text-align: right;
  pointer-events: none;
}

.number-mode {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
}

.status.error {
  color: var(--error);
}

#controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 5px;
}

button,
select,
.buttonstyle {
  padding: 8px 12px 8px 12px;
  white-space: pre;
  border: none;
  border-radius: var(--button-border-radius);
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: var(--button-color);
  color: var(--button-text);
  font-family: var(--button-font);
  font-size: var(--button-font-size);
  height: 32px;
  font-weight: bold;
  cursor: pointer;
}

button,
select,
.buttonstyle,
button:hover,
select:hover,
.buttonstyle:select {
  opacity: 1;
}

option {
  color: var(--option-text);
  background-color: var(--option-background);

  &:checked {
    color: var(--number)
  }
}

.play,
.pause {
  width: 68px;
}

.play:before {
  content: "play ▶";
}

.pause:before {
  content: "pause ■";
  width: 70px;
}


.settings:before {
  content: " settings ⚙";
}

.modal-backdrop {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  backdrop-filter: blur(2px);
  transition: opacity 100ms;

  &.active{
    opacity: 1;
    pointer-events: auto;
  }
}

.dialog {
  width: 400px;
  max-width: calc(100svw - 80px);
  max-height: calc(100svh - 80px);
  background-color: var(--modal-background);
  padding: 20px;
  border-radius: var(--border-radius);

  input {
    background: var(--background);
    color: var(--number);
    border: none;
    padding: 8px;
    border-radius: var(--border-radius);
    
    &[type="number"] {
        text-align: right;
    }

  }

  label > span {
    margin-right: .5em;
  }
  select {
    width: 200px;
  }

  .dialog-body {
    margin-bottom: 1em;
  }

  .title {
    font-size: 17px;
    margin-bottom: 1em;
  }

  .dialog-footer {
    text-align: right;;
  }
}

.hide {
  display: none !important;
}

#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--background);

  &>* {
    color: $white;
    font-size: 20px;
    padding: 0.2em;
    border-radius: 0.2em;
  }
}

@media screen and (max-width: 700px) {

  .play,
  .pause {
    width: 35px;
  }
  .play:before {
    content: "▶";
  }

  .pause:before {
    content: "■";
  }

  .settings:before {
    content: "⚙";
  }

  button:not(.timer),
  .buttonstyle {
    max-width: 6.7em;
  }

  .controls {
    select {
      max-width: 6.7em;
    }
  }

}

@media screen and (max-height: 350px) {

  #keyboard {
    button {
      height: 35px !important;

      &:active {
        height: 33px !important;
      }
    } 
  }

}

.stack-container {
  flex: 1;
  border-top: solid 1px var(--text);
  border-bottom: solid 1px var(--text);
  overflow-y: auto;
  padding-top: 1.5em;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.8);
  }

  &::-webkit-scrollbar-track {
    background: #e1e1e12a;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #e1e1e12a;
  }

}

#stack {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px 10px;
}

.slot {
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-bottom-color: var(--text);
  height: 28px;
  min-width: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  transition: all 200ms;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;

  &.number {
    color: var(--number);

    &.selected {
      border-top-color: rgba(128, 128, 128, .4);
    }
  }

  &.t {
    color: var(--t);
  }

  &.special {
    color: var(--command);
  }

  &.selected {
    border-color: var(--selected);
    border-inline: solid 1px;
  }

  .modifier {
    z-index: 9;
    position: absolute;
    width: 24px;
    display: block;
    font-size: .7em;
    color: var(--text);
    left: 50%;
    background: var(--inline-button-color);
    margin-left: -12px;
    padding: 0;

    &.plus-one {
      top: -29px;

      &:active {
        background: rgba($white, .2);
      }
      
    }

    &.minus-one {
      margin-top: 1px;

      &:active {
        background: rgba($white, .2);
      }
    }
  }
}

.number-mode-on .slot.number.selected {
  border-right: 1px solid transparent;
  /* Borde derecho inicial */
  animation: blinkNumberMode .5s infinite;
}

@keyframes blinkNumberMode {
  0% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al inicio */
  }

  50% {
    border-right: 1px solid var(--number);
    /* Borde derecho de color (ajusta según lo que desees) a la mitad de la animación */
  }

  100% {
    border-right: 1px solid transparent;
    /* Borde derecho transparente al final */
  }
}

#keyboard {
  display: flex;
  flex-direction: column;
  padding: var(--key-gap);
  max-width: 550px;
  position: relative;
  left: 50%;
  background: var(--keyboard-background);
  transform: translateX(-50%);

  .column {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: var(--key-gap);
    width: 100%;

    &:not(:last-child) {
      margin-bottom: var(--key-gap);
    }
  }

  button {

    color: var(--button-color);
    width: -webkit-fill-available;
    margin: 0;
    height: var(--key-height);
    font-size: var(--key-font-size);
    border-style: var(--key-border-style);
    border-width: var(--key-border-width);
    border-radius: var(--key-border-radius);
    background: var(--key-background);
    flex: 1;
    padding: 0;
    transition: all 50ms;

    &:active {
      border-width: var(--key-active-border-width);
      margin: var(--key-active-margin);
      height: var(--key-active-height);
      background: var(--key-active-background);
    }
    
    &.number {
      --button-color: var(--key-number);
     
      &:active {
          background: var(--key-number-bg-active);
      }
    }

    &.command {
      --button-color: var(--key-command);
      &:active {
          background: var(--key-command-bg-active);
      }
    }

    &.symbol {
      --button-color: var(--key-symbol);
      &:active {
          background: var(--key-symbol-bg-active);
      }
    }

    &.t {
      --button-color: var(--t);
     &:active {
          background: var(--key-t-bg-active);
      }
    }

    &.small {
      font-size: 13px !important;
    }

    &.modifier {
      --button-color: var(--number);
      font-variant: all-petite-caps;  
    }
  }

  &:not(.fn-mode) .layer-2 {
    display: none;
  }

  &.fn-mode {

    .layer-1 {
      display: none;
    }

    #fnMode {
      color: var(--selected);
      background: var(--key-command-bg-active);
    }

  }

  #holdMode {
    &.active {
      color: var(--selected);
      background: var(--key-command-bg-active);
      
    }
  }

}